.flushedright {
    text-align: right;
    background-color: rgba(255, 255, 224, 000);
    width:60%;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right:1vw;
}

.header-flex {
    flex-grow:1;
    margin-top:auto;
    margin-bottom: auto;
    background-color: rgba(255, 255, 0, 000);
    display:flex;
    justify-content: end;
    flex-direction: row;
}

.header-flex4 {
    flex-grow:1;
    margin-top:auto;
    margin-bottom: auto;
    background-color: rgba(255, 255, 0, 000);
    display:flex;
    flex-direction: row;
    text-align:right;
}

.companylogo {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 1%;
    background-color:rgba(255,0,0,0);
}

.companyname {
    text-align: left;
    margin-top:auto;
    margin-bottom:auto;
    width:18%;
    font-size:3vw;
    margin-left:1%;
    background-color:rgba(255,0,0,0);
}

.filler{
    width:15%;
    background-color: rgba(0,255,0,0);
}

.headerbanner{
    width: 100%;
    background-color: rgba(255, 255, 255, 100);
    opacity: 100%;
    flex-direction: row;
    display: flex;
    height:6vw;
}

.compLogo{
    height: 5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.profilePic{
    height: 2.5vw;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    margin-top:auto;
    margin-bottom: auto;
    border-radius: 50%;
    background-color: rgba(255,0,255,0);
    flex-grow: 0;
} 

.profileName{
    flex-grow:1;
}