.footerbanner{
    background-color: rgba(255, 255, 255, 100);
    padding: 1vw;
    padding-bottom: 0;
    margin-bottom: -1vw;
}

.footercompname{
    padding:0;
    margin:0;
    font-size: 2.9vw;
}

.footer4columns{
    display:flex;
    flex-direction: row;
}

.footercolumn1{
    width:25%;
    background-color: rgba(255,0,255,0);
    padding-top: 1vw;
}

.footercolumn2{
    width:25%;
    background-color: rgba(0,255,0,0);
    padding-top: 1vw;
}

.footercolumn3{
    width:25%;
    background-color: rgba(0,0,255,0);
}

.footercolumn4{
    width:25%;
    font-size: 1.5vw;
    background-color: rgba(255,255,0,0);
}

.footerheader{
    font-size: 1.5vw;
    font-weight: bold;
}

.footerliner{
    font-size: 1.05vw;
}

.footersmlogo{
    height: 2vw;
    margin-right:1vw;
}